.home__form_section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.home__form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.home__form_heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.home__heading_title {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.home__heading_subtitle {
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
.home__form_banner {
  width: 100%;
  height: 600px;
  background-image: url("../../../../../public/images/form-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 60px;
}
.home__form_info {
  width: calc(55% - 30px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 40px;
}
.home__info_title {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
.home__info_inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__info_text {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.home__info_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__list_item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.home__list_item p {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.home__form_block {
  width: calc(45% - 30px);
}

@media (max-width: 1200px) {
  .home__form_banner {
    background-image: none;
    height: 100%;
    background: var(--primary);
    border-radius: 30px;
    padding: 30px;
  }
  .home__form_info {
    padding-top: 0;
  }
}

@media (max-width: 1000px) {
  .home__form_banner {
    flex-direction: column;
  }
  .home__form_info,
  .home__form_block {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .home__heading_title {
    font-size: 32px;
    line-height: 36px;
  }
}

@media (max-width: 600px) {
  .home__heading_title {
    font-size: 26px;
    line-height: 34px;
  }

  .home__form_banner {
    width: calc(100% + 30px);
  }

  .home__heading_subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .home__form_info {
    gap: 20px;
  }

  .home__info_title {
    font-size: 22px;
    line-height: 26px;
  }

  .home__info_inner,
  .home__info_list {
    gap: 12px;
  }
}

@media (max-width: 400px) {
  .home__form_banner {
    padding: 30px 18px;
    border-radius: 20px;
  }
}
